.sect {
    background-color: #b156bf;
    height: 300px;
}

.text12 {
    position: relative;
    font-weight: 500;
    top: 80px;
    left: 50px;
    color: white;
    font-size: 50px;
}

.text21 {
    position: relative;
    font-weight: 500;
    top: 138px;
    left: -196px;
    color: white;
    font-size: 50px;
}

.arrow {
    position: relative;
    height: 50px;
    width: 50px;
    color: white;
    top: 190px;
    left: -498px;
}

.gallery-image {
    position: relative;
    height: 180px;
    width: 180px;
}

.images-row {
    position: relative;
    left: 700px;
    top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 0.14fr);
    gap: 5px;
}