.sect {
    background-color: #b156bf;
    height: 300px;
}

.text12 {
    position: relative;
    font-weight: 500;
    top: 80px;
    left: 50px;
    color: white;
    font-size: 50px;
}

.text21 {
    position: relative;
    font-weight: 500;
    top: 138px;
    left: -196px;
    color: white;
    font-size: 50px;
}

.arrow {
    position: relative;
    height: 50px;
    width: 50px;
    color: white;
    top: 190px;
    left: -498px;

}

.gallery-image {
    position: relative;
    height: 120px;
    width: 120px;
}

.images-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5 px;
}